.messageContainer {
  width: 100%;
}

.messageContainer:nth-child(1) {
  margin: 1rem 0rem 0rem 0rem;
}

.messageContainer:nth-child(n + 2) {
  margin: 2.6rem 0px 0px 0px;
}

.myMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.otherMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.commenter {
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem 0rem 0.5rem 0rem;
  padding: 0rem 0.3rem 0rem 0.3rem;
}

.message {
  border-radius: 15px;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  max-width: 80%;
  font-weight: 450;
  white-space: pre-wrap;
}

.otherMessage {
  color: #1d1d1d;
  background-color: #eeeeee;
}

.myMessage {
  color: #f0f0f0;
  background-color: #f95454;
}
